@model StudentManagement.Models.Grade
@{
    ViewData["Title"] = "Edit Grade";
}
<div class="container-fluid">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0"><a type="button"
                class="btn btn-dark btn-raised-shadow btn-wave btn-sm me-1" href="/Grades"><i
                    class="fa-solid fa-arrow-left"></i></a> Edit Grade
        </h1>
    </div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Edit Grade
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-sm-4 mb-2">
                                <label asp-for="StudentId" class="form-label">Student</label>
                                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                                <span asp-validation-for="StudentId" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <label asp-for="SubjectId" class="form-label">Subject</label>
                                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                                <span asp-validation-for="SubjectId" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <label class="form-label" asp-for="Score">Score</label>
                                <input asp-for="Score" class="form-control" />
                                <span asp-validation-for="Score" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-2">
                            <a type="button" class="btn btn-danger shadow-danger btn-wave" href="/Grades"><i
                                    class="fa fa-fw fa-undo me-1"></i>
                                Back</a>
                            <button type="submit" class="btn btn-primary shadow-primary btn-wave"><i
                                    class="fa fa-fw fa-plus me-1"></i>
                                Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>